.about {
    position: relative;
}
.about__author--img {
    position: absolute;
    top: 0%;
    left: 60%;
}

.about__mail {
   color: #CE5937;
   cursor: pointer;
}

.about__media {
    margin: 3% 4%;
    width: 6%;
}
