.about {
    position: relative;
}

.about__author-img {
    left: 60%;
    position: absolute;
    top: 0%;
}

.about__mail {
   color: #CE5937;
   cursor: pointer;
}

.about__media {
    margin: 3% 4%;
    width: 6%;
}
