.bgImg {
    background-image: url('https://expo.advance.net/img/d8aa23fcc3/width960/2fc_tulip.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
}

.header__icon--logo {
    float: left;
    margin: 3.2% 0 0 3.4%;
    width: 10%;
}

.header__icon--menu {
    float: right;
    margin: 3.2% 3.4% 0 0;
    width: 10%;
}

.hero {
    height: 50vw;
    margin-bottom: 15%;
    width: 100%;
}

.hero__author {
    color: #fff;
    padding-left: 15%;
    text-shadow: 2px 2px 2px #CE5937;
}

.hero__author-img {
    border-radius: 50%;
    float: right;
}

.hero__title {
    color: #fff;
    padding-top: 15%;
    text-align: center;
    text-shadow: 2px 2px 2px #CE5937;
}