.btn__leer-post {
    border-radius: 15%;
    box-shadow: 3px 2px 4px 1px rgba(206,89,55,0.93);
    color: black;
    cursor: pointer;
    padding: 2%;
    text-decoration: none;
}

.btn__leer-post:hover {
    background-color: antiquewhite;
}

.post__img {
    border-radius: 50%;
    float: right;
}

.post__title {
    padding: 5% 4%;
}

.related__cont {
    padding: 0;
    position: relative;
}

.related__post {
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.75);
    height: 80vw;
    list-style: none;
    margin: 6% 0 8%;
    width: 90%;
}

.related__tittle {
    text-align: center;
}


