body {
    margin: 0;
    background-image: url('../img/BG/BG-mobile.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    /* Large devices */
    @media only screen and (min-width: 900px) {
        background-image: url('../img/BG/BG-desktop.jpg');
    }
}

html {
    /* Large devices */
    @media only screen and (min-width: 600px) {
        cursor: url('../img/icon/magic.png'), pointer;
    }
}