.wapper {
    grid-gap: 2%;
    max-width: 70%;
    height: auto;
    margin: 5vh 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.header__title {
    background-color:rgba(255,255,255, 0.86);
    box-shadow: 1px 3px 63px 38px rgba(255,255,255,1);
    -webkit-box-shadow: 1px 3px 63px 38px rgba(255,255,255,1);
    -moz-box-shadow: 1px 3px 63px 38px rgba(255,255,255,1);
    max-width: 90%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container__subtitle {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    /* Large devices */
    @media only screen and (min-width: 600px) {
        grid-row-start: 2;
        grid-row-end: 3;
        &:hover span {
            animation: humo 1.5s linear forwards;
        }
    }
}
.header__subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-align: end;
    
    font-family: 'Crimson Text', serif;
    font-family: 'Cinzel', serif;
    font-family: 'Monoton', cursive;

    color: black;
}

.info {
    font-size: 1.5rem;
    font-weight: bold;

    text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
    color: #000;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;

    /* Large devices */
    @media only screen and (min-width: 600px) {
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

.info h3 {
    margin: 1.2% 0;
}

.cta {
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 5%;
    align-self: center;
    height: 10vw;
    font-size: 1rem;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;

    @media only screen and (min-width: 400px) {
        height: 7vw;
    }
    @media only screen and (min-width: 600px) {
        height: 2vw;
    }
}

.header__subtitle  span:nth-child(1){
    animation-delay: 0s;
}

.header__subtitle span:nth-child(2){
    animation-delay: .4s;
}

.header__subtitle span:nth-child(4){
    animation-delay: .8s;
}

.productora {
    max-width: 60%;
    @media only screen and (min-width: 400px) {
        max-width: 40%;
    }
}

.contacto {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    

    @media only screen and (min-width: 400px) {
        font-size: 1.2rem;
    }
}

.contacto h4,
.contacto h5 {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
}

footer {
    color: #fff;
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 90vw;
    height: 12vh;
    margin: 5vh 5vw;
}

footer h4 {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    align-self: center;
}
footer h5 {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

footer a {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
    color: #fff;
}
