@keyframes humo {
    0% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        filter: blur(1px);
    }
    100% {
        transform: rotate(45deg) translateY(-200px);
        opacity: 0;
        filter: blur(25px);
    }
}

