.menu__cont-list {
    background-color: white;
    height: 100%;
    left: -1000px;
    position: absolute;
    width: 100%;
    z-index: 14;
}

.menu__list {
    list-style: none;
    padding: 10% 0;
}

.menu__list-copy {
    list-style: none;
    padding: 20% 0; 
}

.menu__list-items {
    text-decoration: none;
    color: black;
    cursor: pointer; 
}