.header__icon--menu {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;

    @media only screen and (min-width: 600px) {
        display: none;
    }
}

.menu__list {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;

    @media only screen and (min-width: 600px) {
        display: block;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: end;
        align-self: end;
    }
}
.menu__list + .menu__list {
    grid-row-start: 3;
    grid-row-end: 4;
    @media only screen and (min-width: 600px) {
        display: block;
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: end;
    }
}

.menu__list:last-child {
    grid-row-start: 4;
    grid-row-end: 5;
    @media only screen and (min-width: 600px) {
        display: block;
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: end;
    }
}