
.testimonials__inner {
    padding: 20px;
    background-color: #eee;
  }
  
  .testimonial {
    margin: 0;
    font-style: italic;
    font-size: 1.125rem;
    margin-bottom: 30px;
  }
  
  .testimonial__person {
    font-size: 0.875rem;
    font-style: normal;
    margin-top: 10px;
  }
  
  .testimonial__person img {
    max-width: 50px;
    vertical-align: middle;
    margin-right: 10px;
  }
  